# Virtual environment
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo

# Dataset 
Dataset/

# Cached features
Features/

# Temp audio
temp.wav
*.tmp

# IDE
.vscode/
.idea/
#Train&Test Data
~$*.xlsx
results/